requests
aiohttp
aiofiles
tinytag
urllib3
pip
attrs
wheel
pillow
jinja2
certifi
altgraph
idna
charset-normalizer
packaging
setuptools
importlib-metadata
zipp
future
pygments
pyinstaller
pefile
psutil
pywin32-ctypes
pyinstaller-hooks-contrib
multidict
propcache
yarl
async-timeout
aiosignal
frozenlist
aiohappyeyeballs
